Display each character from a string and if a character is number then stop the loop.

In [ ]:
name=input("enter a string :")
for i in name:
  if i.isnumeric():
    break
  else:
    print(i,end="")

enter a string :nafi12lmk
nafi

print the first 10 numbers on each line 5 times

In [ ]:
for i in range(1,6):
  for i in range(1,11):
    print(i,end="")
  print("\n")

12345678910

12345678910

12345678910

12345678910

12345678910

Reverse a for loop to display numbers from 10 to 1

---

In [ ]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

 Program to add natural numbers up to sum = 1+2+3+...+n

In [ ]:
a=int(input("enter a number :"))
sum=0
for i in range(1,a+1):
  sum=sum+i
print(sum)

enter a number :5
15

multiplication table

In [ ]:
mit=5
for i in range(1,11):
  print(mit,"x",i,"=",mit*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

prime numbers

In [ ]:
def isPrime(n):
  if(n==1 or n==0):
    return False
  for i in range(2,(n//2)+1):
    if(n%i==0):
        return False
  return True
b=int(input("enter a minimum value :"))
N=int(input("enter a maximum value :"))
for i in range(b,N+1):
  if(isPrime(i)):
    print(i,end=" ")

enter a minimum value :17
enter a maximum value :53
17 19 23 29 31 37 41 43 47 53