In [1]:
def example():
    print("hai")
example()

hai

In [2]:
def check():
    a=5
    b=10
    c=a+b
    print(c)
check()

15

In [3]:
def wish(name,greet):
    print(name)
    print(greet)
wish("nafil","good morning")

nafil
good morning

function with parameters

In [4]:
def check(a,b):
    c=a+b
    print(c)
check(20,15)

35

In [5]:
check(48,12)

60

In [6]:
x=10
def example():
    x=20
    print(x)
print(x)
example()

10
20

In [7]:
def n():
    print("nafil")
n()

nafil

In [8]:
def mlt(a,b):
    c=a*b
    print(c)
mlt(15,2)

30

In [9]:

mlt(10,12)

120

In [10]:
check(12,88)

100

In [11]:
def div(a,b):
    c=a/b
    print(c)
div(10,5)

2.0

In [12]:
div(100,8)

12.5

In [13]:
mlt(25,12)

300

default parameter

In [14]:
def example(name,wish="good morning"):
    print(name,end="\n")
    print(wish)
example("nafil")

nafil
good morning

In [15]:
example("nafil","good night")

nafil
good night

 Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. And also it must return both addition and subtraction in a single return call

In [16]:
def cal(a,b):
    c=a+b
    d=a/b
    print("addition :",c)
    print("subtraction :",d)
cal(10,5)

addition : 15
subtraction : 2.0

Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both. If the salary is missing in the function call assign default value 9000 to salary

In [17]:
def employee(name,salary=9000):
    print("employee name :",name,end="\n")
    print("salary        :",salary)
employee("nafil")

employee name : nafil
salary        : 9000

In [18]:
employee("ajfan",10000)

employee name : ajfan
salary        : 10000

create a function to check if a number is odd or even

In [19]:
def check(a):
    if a%2==0:
        print(a,"even number")
    else:
        print(a,"odd numver")
b=int(input())
check(b)

20
20 even number

In [20]:
b=int(input())
check(b)

15
15 odd numver

create a function to check if a number is armstrong numers

In [21]:
def chk(a):
    sum=0
    n=a
    while n>0:
        d=n%10
        sum=sum+d**3
        n//=10
    if a==sum:
        print("is armstrong number")
    else:
        print("is not armstrong number")
b=int(input())
chk(b)

153
is armstrong number

In [22]:
b=int(input())
chk(b)

400
is not armstrong number

create a function to reverse of a number

In [24]:
def rvs(a):
    b=0
    while a!=0:
        d=a%10
        b=b*10+d
        a//=10
    print("revers number:",b)
b=int(input("enter a number; "))
rvs(b)

enter a number; 210456307
revers number: 703654012