Create a Class with instance attributes

In [ ]:
class staff:
  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.salary=salary
stf1=staff("Nafil",20,15000)
stf2=staff("Afsal",25,12500)
stf3=staff("Rahul",23,18000)
print("Name  {} age {} salary {}".format(stf1.name,stf1.age,stf1.salary))
print("Name  {} age {} salary {}".format(stf2.name,stf2.age,stf2.salary))
print("Name  {} age {} salary {}".format(stf3.name,stf3.age,stf3.salary))

Name  Nafil age 20 salary 15000
Name  Afsal age 25 salary 12500
Name  Rahul age 23 salary 18000

Create a Vehicle class without any variables and methods

In [ ]:
class vehicle:
  pass

Create a child class Bus that will inherit all of the variables and methods of the Vehicle class

In [ ]:
class vehicle:
  def color(self):
    print("color  :black")
  def milege(self):
    print("milege :10")
class bus(vehicle):
  def __init__(self,company_name):
    self.company_name=company_name
bs=bus("volvo")
print("company name :{}".format(bs.company_name))
bs.color()
bs.milege()

company name volvo
color  :black
milege :10

Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

In [ ]:
class vehicle:
  def color(self):
    print("color  :black")
  def milege(self):
    print("milege :10")
class bus(vehicle):
  def __init__(self,company_name):
    self.company_name=company_name
  def seating_capacity(self):
    print("seat capacity :50")
bs=bus("volvo")
print("company name {}".format(bs.company_name))
bs.color()
bs.milege()
bs.seating_capacity()

company name volvo
color  :black
milege :10
seat capacity :50

Define a property that must have the same value for every class instance (object)

In [ ]:
class bus:
  def color(self):
    print("color  :grey")
  def milege(self):
    print("milege :10")
  def expence(self):
    print("expence :depant on maintanance")
class car(bus):
  def __init__(self):
    print("car")
cr=car()
cr.color()
cr.milege()
cr.expence()

car
color  :grey
milege :10
expence :depant on maintanance

Check type of an object

In [ ]:
class staff:
  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.salary=salary
stf1=staff("Nafil",20,15000)
print(type(stf1))

<class '__main__.staff'>

Determine if School_bus is also an instance of the Vehicle class

In [ ]:
class vehicle:
  def color(self):
    print("color  :grey")
  def milege(self):
    print("milege :10")
  def expence(self):
    print("expence :depant on maintanance")
class school_bus(vehicle):
  def __init__(self):
    print("school bus")
sbs=school_bus()
sbs.color()
sbs.milege()
sbs.expence()
print(isinstance(vehicle,school_bus))

school bus
color  :grey
milege :10
expence :depant on maintanance
False