Write a Python program to create a tuple.

In [21]:
t=(1,2,3,4,5,6)
t

(1, 2, 3, 4, 5, 6)

Write a Python program to create a tuple with different data types.

In [24]:
a=("a","b","c",1,2,3,1.5,2.8)
a

('a', 'b', 'c', 1, 2, 3, 1.5, 2.8)

Write a Python program to create a tuple with numbers and print one item.

In [27]:
x=(1,2,3,4,5,6,7,8)
x[2]

3

Write a Python program to unpack a tuple in several variables.

In [31]:
a=("apple","banana","cherry")
green,yellow,red=a
red="mango"
a=(green,yellow,red)
print(a)

('apple', 'banana', 'mango')

Write a Python program to add an item in a tuple.

In [32]:
t1=(1,2,3,4,5,6,7)
t1+(200,)

(1, 2, 3, 4, 5, 6, 7, 200)

Write a Python program to convert a tuple to a string.

In [41]:
t1=(1,2,3,4,5,6,7)
type(t1)
s=str(t1)
s

'(1, 2, 3, 4, 5, 6, 7)'

Write a Python program to convert a list to a tuple.

In [44]:
l1=['a','b','c','d']
type(l1)
t1=tuple(l1)
t1

('a', 'b', 'c', 'd')

Write a Python program to find the length of a tuple.

In [45]:
t1=(1,2,3,4,5,6,7)
len(t1)

7

Write a Python program to reverse a tuple.

In [46]:
t1=(1,2,3,4,5,6,7)
t1[::-1]

(7, 6, 5, 4, 3, 2, 1)