**create a multiplication table**

> Indented block

In [ ]:
mlt=5
a=1
while a<=10:
  print(mlt,"x",a,"=",mlt*a)
  a=a+1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

 Program to add natural numbers up to sum = 1+2+3+...+n

In [ ]:
n=int(input("Enter a number: "))
sum1 = 0
while(n > 0):
    sum1=sum1+n
    n=n-1
print("The sum of natural numbers is :",sum1)

Enter a number: 5
The sum of natural numbers is : 15

**simple fibonacci series**

In [ ]:
Number = int(input("Please Enter the Range : "))
i = 0
a = 0
b = 1
while(i < Number):
    if(i <= 1):
        sum = i
    else:
        sum = a + b
        a = b
        b = sum
    print(sum)
    i = i + 1

Please Enter the Range : 10
0
1
1
2
3
5
8
13
21
34

:**Print even and odd numbers between 1 to the entered number.**

In [ ]:
a=int(input("enter a limit :"))
n=1
while (n<=a):
  if(n%2==0):
    print("even :",n)
  else:
    print("odd  :",n)
  n=n+1

enter a limit :11
odd  : 1
even : 2
odd  : 3
even : 4
odd  : 5
even : 6
odd  : 7
even : 8
odd  : 9
even : 10
odd  : 11

**printing the square of odd numbers less than n**

In [ ]:
num = int(input(" Please Enter the Maximum number : "))
n = 1
while n <= num:
    if(n % 2 != 0):
        print(n*n)
    n = n + 1

 Please Enter the Maximum number : 10
1
9
25
49
81

Add all even numbers from 1 to 10 using while loop

In [ ]:
n = 1
sum=0
while n <= 10:
    if(n % 2 == 0):
        sum=sum+n
    n = n + 1
print(sum)

30

Write a code to add all the prime numbers between 17 to 53 using while loop

In [ ]:
minimum = int(input(" Please Enter the Minimum Value: "))
maximum = int(input(" Please Enter the Maximum Value: "))
Number = minimum
while(Number <= maximum):
    count = 0
    i = 2
    while(i <= Number//2):
        if(Number % i == 0):
            count = count + 1
            break
        i = i + 1
    if (count == 0 and Number != 1):
        print(Number, end = '  ')
    Number = Number  + 1

 Please Enter the Minimum Value: 17
 Please Enter the Maximum Value: 53
17  19  23  29  31  37  41  43  47  53

53Use while loop to print numbers from 1 to 6

In [ ]:
a=1
b=6
while (a<=b):
  print(a)
  a=a+1

1
2
3
4
5
6

printing odd numbers less than `n`

In [ ]:
num = int(input(" Please Enter the Maximum number : "))
n = 1
while n <= num:
    if(n % 2 != 0):
        print(n)
    n = n + 1

 Please Enter the Maximum number : 20
1
3
5
7
9
11
13
15
17
19

Find the cube of number from 1 to 9.

In [ ]:
a=1
b=9
while (a<=b):
  print(pow(a,3))
  a=a+1

1
8
27
64
125
216
343
512
729

printing the square of numbers less than `n`

In [ ]:
a=1
b=int(input("enter a number :"))
while (a<=b):
  print(pow(a,2))
  a=a+1

enter a number :10
1
4
9
16
25
36
49
64
81
100

How many times a given number can be divided by 3 before it is less than or equal to 10.

In [ ]:
a=1
b=10
while (a<=b):
  if (a%3==0):
    print(a)
  a=a+1

3
6
9

Use while loop to iterate over a list.

In [ ]:
list = [1, 3, 5, 7, 9]
length = len(list)
i = 0
while i < length:
    print(list[i])
    i = i+1

1
3
5
7
9

printing the first two elements of a list

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
length= len(list)
a=0
while a<length:
  a=a+1
print(list[:2])

[1, 2]

while loop to iterate string letter by letter

In [ ]:
sr = "nafil"
length = len(sr)
i = 0
while i < length:
    print(sr[i])
    i = i+1

n
a
f
i
l

Reverse a while loop to display numbers from 10 to 1

In [ ]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

Write a while loop to display only alphabets from a string

In [ ]:

name=input("enter a string :")
size=len(name)
i=-1
while i<size-1:
  i=i+1
  if name[i].isalpha():
    print(name[i],end="")

enter a string :nafil12mk
nafilmk

print the first 10 numbers on each line 5 times

In [ ]:
y=1
while y<=5:
  y=y+1
  i=1
  while i<=10:
    print(i,end="")
    i=i+1
  print("\n")

12345678910

12345678910

12345678910

12345678910

12345678910

Display each character from a string and if `a` character is number then stop the loop.

In [ ]:
name=input("enter a string :")
size=len(name)
i=-1
while i<size-1:
  i=i+1
  if name[i].isnumeric():
    break
  else:
    print(name[i],end="")

enter a string :nafi12lmk
nafi

In [ ]:
count=1
while count<=5:
  print(count)
  count=count+1

1
2
3
4
5